*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #070710;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 480px;
}